.skills__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  align-items: center;
  padding:  2rem;
}


.skills__content {
  background-color: #fff;
  padding: 3rem 10rem;
  border-radius: 1.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.skills__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3.5rem;
}

.skills__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.skills__data {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.skills__data i {
  font-size: 1.2rem;
  color: #555;
}

.skills__name {
  font-weight: 500;
  font-size: 1rem;
}

.skills__level {
  /* font-size: 0.8rem;
  color: gray;
*/
font-size: var(--tiny-font-size);
}



@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__content {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }

    .skills__name {
        font-size: var(--small-font-size)
    }
}
